<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mission_status.name %>
</p>

<%= link_to 'Edit', edit_mission_status_path(@mission_status) %> |
<%= link_to 'Back', mission_statuses_path %>
