<h1>Listing tiles</h1>

<div class="worldView">
	<div class="content">
		<% @tiles.each do |section, tiles| %>
			<%= render 'section', :section => section, :tiles => tiles %>
		<% end %>
	</div>
</div>

<br>

<%= link_to "New Tile", new_tile_path %>
