<h1>Listing tiles</h1>

<div class="worldView">
      <%= debug @tiles %>
      <%= debug @tiles.class %>
    <% @tiles.each do |section, tiles| %>
		<%= render 'section', :section => section, :tiles => tiles %>
    <% end %>
</div>

<div id="viewport" style="width:400px;height:400px;Background:red">
	<div id="wall"></div>
</div>
<br>

<%= link_to "New Tile", new_tile_path %>
