<h1>Listing tiles</h1>

<div class="worldView">
      <%= debug @tiles %>
      <%= debug @tiles.class %>
    <% @tiles.each do |section, tiles| %>
		
		<%= render 'section', :tiles => tiles %>
    <% end %>
</div>
<br>

<%= link_to "New Tile", new_tile_path %>
