<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @soldier_type.name %>
</p>

<%= link_to 'Edit', edit_soldier_type_path(@soldier_type) %> |
<%= link_to 'Back', soldier_types_path %>
