// Place all the styles related to the Buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buildings{
  position:relative;
  .building{
    position:absolute;
    width:200px;
    height:100px;
    .display{
      position:absolute;
      background: image-url("building_small.png") no-repeat bottom; 
      width:200px;
      height:200px;
      bottom:0px;
    }
    &:hover {
      .actions{
        display:block;
      }
    }
    .actions{
      z-index:100;
      left:50px;
      position:absolute;
      display:none;
      margin:0px;
      padding:2px;
      background-color:#cccccc;
      li{
        margin:0px;
        padding:0px;
        list-style:none;
      }
    }
    .clickZone{
      z-index:50;
      position:absolute;
      width:100px;
      height:50px;
      top:25px;
      left:50px;
    }
  }
}