// Place all the styles related to the castles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.castle{
	position:absolute;
	background: image-url("castle_small.png") no-repeat top;
	padding: 30px 0px 0px 0px; 
	width: 43px;
	.name{
		display:block;
		margin: 0 -50px;
		text-align:center;
		&:hover{
			font-weight:bold;
		}
	}
  &:hover {
    z-index:100;
    .actions{
      display:block;
    }
  }
  .actions{
    position:absolute;
    display:none;
    list-style:none;
    margin:0px;
    padding:0px;
    background-color:#cccccc;
    li{
      margin:0px;
      padding:0px;
      list-style:none;
    }
  }
}

$elevations-tile-width : 200px;
$elevations-tile-height : $elevations-tile-width / 2;
$elevations-tile-depth : 25px;

@mixin wall-elevation($orientation,$tall) {
  &.tall#{$tall}{
    background: image-url("#{$orientation}wall_#{$tall}tall_small.png") no-repeat top;
    height: $elevations-tile-height / 2 + $elevations-tile-depth * $tall;
  }
}
@mixin wall($orientation) {
  .#{$orientation}Wall{
      position:absolute;
      top:$elevations-tile-height / 2;
      @if $orientation == "left" { left:0px;  }
      @if $orientation == "right" { left:$elevations-tile-width / 2;  }
      width:$elevations-tile-width / 2;
      &.tall1{
        background: image-url("#{$orientation}wall_small.png") no-repeat top;
        height:$elevations-tile-height / 2 + $elevations-tile-depth;
      }
      @include wall-elevation($orientation,2);
      @include wall-elevation($orientation,3);
      @include wall-elevation($orientation,4);
    }
}

.elevations{
  position:relative;
  .elevation{
    position:absolute;
    .ground{
      background: image-url("ground_small.png") no-repeat top;
      width:$elevations-tile-width;
      height:$elevations-tile-height;
    }
    @include wall("left");
    @include wall("right");
  }
}