// Place all the styles related to the Tiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mapTools{
	position: relative;
	z-index: 1;
}
.tileSection{
	position: absolute;
	width:100px;
	height:100px;
	background-color:rgba(255,0,0,0.3);
}
.worldView{
	width:100%;
  position:absolute;
  top:0;
	bottom:0;
	background:#eeeeee;
	margin:auto;
	overflow:hidden;
	.content{
		position: relative;
	}
}
.clickPixel{
  z-index:1000;
	position:absolute;
  width:4px;
  height:4px;
  top:50%;
  left:50%;
  margin: -2px 0 0 -2px;
  background-color: #00ff00;
}
/*div:hover > .clickPixel{
  display:none;
}*/