<div class="elevations">
<% 
  half = size / 2
  quarter = size / 4
  elev = @castle.elevations true
  elev.each_display_order do |x,y,elevation|
    top = x * quarter + y * quarter + elevation * size / -8
    left = x * half + y * half * -1 + half * 7
%>
  <%= tag("div", {class: 'elevation', posx: x, posy: y, elevation: elevation, style: "top: #{top}px; left: #{left}px"}, true) %>
    <div class="ground"></div>
    <div class="leftWall tall<%= elevation - (elev.elevation(x,y+1) || 0) %>"></div>
    <div class="rightWall tall<%= elevation - (elev.elevation(x+1,y) || 0) %>"></div>
  </div>
<%
  end 
%>
</div>