<div class="elevations">
<% 
  elev = @castle.elevations true
  elev.each_display_order do |x,y,elevation|
    top = ElevationDisplay.top(x,y,elevation,size)
    left = ElevationDisplay.left(x,y,elevation,size)
%>
  <%= tag("div", {class: 'elevation', posx: x, posy: y, elevation: elevation, style: "top: #{top}px; left: #{left}px"}, true) %>
    <div class="ground"></div>
    <div class="leftWall tall<%= elevation - (elev.elevation(x,y+1) || 0) %>"></div>
    <div class="rightWall tall<%= elevation - (elev.elevation(x+1,y) || 0) %>"></div>
  </div>
<%
  end 
%>
</div>