<div class="elevations">
<% 
  elev = Elevations.new.gen
  elev.each_points do |x,y,elevation|
    top = x * 50 + y * 50 + elevation * -25 + 80
    left = x * 100 + y * -100 + 800
%>
  <%= tag("div", {class: 'elevation', posx: x, posy: y, elevation: elevation, style: "top: #{top}px; left: #{left}px"}, true) %>
    <div class="ground"></div>
    <div class="leftWall <%= elevation - (elev.elevation(x,y+1) || 0) %>tall"></div>
    <div class="rightWall <%= elevation - (elev.elevation(x+1,y) || 0) %>tall"></div>
  </div>
<%
  end 
%>
</div>